*{
font-family: Helvetica, sans-serif;
margin:0;
padding:0;
box-sizing:border-box;
}

body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:#e6e6e6;
}

.box{
background:#ddd;
padding:30px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.2);
text-align:center;
width:400px;
}

.file-row{
display:flex;
justify-content:center;
align-items:center;
gap:10px;
}

input[type="color"]{
width:60px;
height:30px;
cursor:pointer;
}

input[type="file"]{
padding:5px;
}